.grid--players {
	grid-area: players;
}

.grid--chat {
	grid-area: chat;
}

.grid--settings {
	grid-area: settings;
}

.grid--yamb {
	grid-area: yamb;
}

.grid--dice {
	grid-area: dice;
}

.grid--scoreboard {
	grid-area: scoreboard;
}
