:root {
	--color-background: #eee;
	--color-primary: #444;

	--color-blue: rgb(59, 177, 255);
	--color-lightblue: rgb(129, 205, 255);

	--color-gray: rgb(95, 95, 95);
	--color-lightgray: rgb(133, 133, 133);

	--chat-min-height: 15em;
	--chat-max-height: calc(100vh - 40px);
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-size: 18px;
}

@media only screen and (min-width: 768px) {
	html {
		font-size: 24px;
	}
}

body {
	background-color: var(--color-background);
	line-height: 1.6;
	user-select: none;
}

body,
input[type="text"],
button {
	color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2;
}

input[type="text"],
button {
	display: block;
}

.center-child {
	display: flex;
	justify-content: center;
	align-items: center;
}

.expand {
	width: 100%;
	min-height: 100vh;
	padding: 20px;
}

.selectable {
	user-select: text;
}

.text-center {
	text-align: center;
}

/* Home */
.home {
	max-width: 20em;
	height: 30em;
}

/* Name Prompt */
.name__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.name {
	max-width: 20em;
	height: 10em;
}

.name__label,
.name__input,
.name__submit {
	display: block;
	margin-bottom: 0.5em;
}

.name__label,
.name__error {
	text-align: center;
}

.name__input {
	width: 100%;
}

.name__submit {
	width: 50%;
	margin: 0 auto;
}

/* Lobby */
.lobby {
	display: grid;

	gap: 20px;
	grid-template-areas:
		"players"
		"settings"
		"chat";
}

@media only screen and (min-width: 768px) {
	.lobby {
		grid-template-areas:
			"players  chat"
			"settings chat";
		grid-template-columns: 1fr 1fr;
	}

	.lobby .chat {
		height: var(--chat-max-height);
	}
}

/* Settings */
.settings__column-selection {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.settings__label {
	display: block;
	width: 40%;
	user-select: none;
	white-space: nowrap;
}

.settings__checkbox {
	margin-right: 0.25em;
}

.settings__start {
	margin: 0 auto;
}

/* Chat */
.chat {
	display: flex;
	min-height: var(--chat-min-height);
	height: var(--chat-min-height);
	flex-direction: column;
	border-bottom: none;
}

.chat__log {
	flex: 1;
	margin: 0;
	padding: 0;
	overflow-y: auto;
	padding: 0.5em;
	border: 1px solid black;
	border-bottom: none;
}

.chat__message {
	list-style-type: none;
}

.chat__write {
	display: flex;
}

.chat__input {
	display: block;
	width: 0;
	flex: 1 0 auto;
}

.chat__send {
	display: block;
	flex: 0 0 3em;
}

/* Game */
.game {
	display: grid;

	gap: 20px;
	grid-template-areas:
		"yamb"
		"dice"
		"scoreboard"
		"chat";
}

@media only screen and (min-width: 768px) {
	.game {
		grid-template-areas:
			"yamb       dice"
			"yamb       scoreboard"
			"chat       chat";
		grid-template-columns: 1fr 1fr;
	}
}

/* Yamb */
.yamb__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.yamb {
	border-collapse: collapse;
	white-space: nowrap;
	width: 100%;
	max-width: 10em;
}

.yamb th,
.yamb td {
	border: 3px solid var(--color-primary);
	font-size: 0.8em;
}

.yamb th {
	text-align: center;
	background-color: var(--color-lightblue);
	padding: 0 2px;
}

.cell {
	border: none;
	background: none;
	width: 100%;
	min-width: 3em;
	height: 100%;
}

.legal {
	opacity: 0.4;
}

.legal:hover,
.legal:focus {
	opacity: 1;
	cursor: pointer;
}

/* Dice */
.dice__container {
	max-width: 20em;
	margin: 0 auto;
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(3, 1fr);
}

.dice__die {
	border: none;
	background: none;
	font-size: 3em;
	width: 80%;
	margin: 0 auto;
}

.dice__roll {
	display: block;
	text-align: center;
	font-size: 1.1em;
}

.dice__roll-dice {
	display: block;
	margin: 0 auto;
}

.dice__die:not(.frozen) {
	color: var(--color-lightgray);
}

.dice__die:not(.frozen):hover,
.dice__die:not(.frozen):focus {
	color: var(--color-gray);
}

.dice__die.frozen {
	color: var(--color-lightblue);
}

.dice__die.frozen:hover,
.dice__die.frozen:focus {
	color: var(--color-blue);
}

.dice__die:hover,
.dice__die:focus {
	cursor: pointer;
	transform: scale(1.1);
}

/* Scoreboard */
.scoreboard {
	width: 100%;
}

/* Grid */
.grid--players {
	grid-area: players;
}

.grid--chat {
	grid-area: chat;
}

.grid--settings {
	grid-area: settings;
}

.grid--yamb {
	grid-area: yamb;
}

.grid--dice {
	grid-area: dice;
}

.grid--scoreboard {
	grid-area: scoreboard;
}

/* GameOver */
.game-over {
	max-width: 20em;
	width: 100%;
}

/* Tooltip */
/* Courtesy of https://blog.logrocket.com/creating-beautiful-tooltips-with-only-css/ */
.tooltip {
	position: relative; /* making the .tooltip span a container for the tooltip text */
	border-bottom: 1px dashed #000; /* little indicater to indicate it's hoverable */
}

.tooltip:before {
	content: attr(data-text); /* here's the magic */
	position: absolute;
	z-index: 1;

	/* vertically center */
	top: 50%;
	transform: translateY(-50%);

	/* move to right */
	left: 100%;
	margin-left: 15px; /* and add a small left margin */

	/* basic styles */
	width: 350px;
	padding: 10px;
	border-radius: 10px;
	background: #000;
	color: #fff;
	text-align: center;

	display: none; /* hide by default */
}

.tooltip:hover:before {
	display: block;
}

.tooltip:after {
	content: "";
	position: absolute;

	/* position tooltip correctly */
	left: 100%;
	margin-left: -5px;

	/* vertically center */
	top: 50%;
	transform: translateY(-50%);

	/* the arrow */
	border: 10px solid #000;
	border-color: transparent black transparent transparent;

	display: none;
}
.tooltip:hover:before,
.tooltip:hover:after {
	display: block;
}

.tooltip:before {
	/* other styles */

	/*  display:none; */

	opacity: 0;
	transition: 0.3s opacity;
}

.tooltip:hover:before {
	opacity: 1;
}

.tooltip:after {
	opacity: 0;
	transition: 0.3s;
}
.tooltip:hover:after {
	opacity: 1;
}
