:root {
  --color-primary: rgb(59, 177, 255);
  --color-secondary: rgb(129, 205, 255);

  --color-illegal: rosybrown;
  --color-legal: limegreen;

  --color-light-gray: rgb(133, 133, 133);
  --color-gray: rgb(95, 95, 95);
}

* {
  box-sizing: border-box;
}

button {
  padding: 0;
}

html {
  font-size: 24px;
}

body {
  width: 100vw;
}

.yamb-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

@media only screen and (max-width: 1024px) {
  .game, .lobby {
    flex-direction: column;
  }

  .members {
    margin-bottom: 1em;
  }

  .chat__log {
    max-height: 10em;
  }
}

@media only screen and (min-width: 600px) {
  .yamb, .dice__container {
    min-width: 20em;
    width: 50%;
    margin: 0 auto;
  }
}

.game {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 1em;
}

aside {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Yamb */

.yamb {
  border-collapse: collapse;
  white-space: nowrap;
}

.yamb th, .yamb td {
  border: 3px solid var(--color-primary);
  text-align: center;
  padding: 0;
  min-height: 1em;
  width: 2em;
}

.yamb th {
  background-color: var(--color-secondary);
}

.cell {
  border: none;
  background: none;
  width: 100%;
  height: 100%;
}

.legal {
  opacity: 0.4;
}

.legal:hover, .legal:focus {
  opacity: 1;
  cursor: pointer;
}

/* Dice */

.dice__container {
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
}

.dice__die {
  border: none;
  background: none;
  font-size: 3em;
}

.dice__roll {
  display: block;
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 10px;
}

.dice__roll-dice {
  display: block;
  margin: 0 auto;
  padding: 10px
}

.dice__die:not(.frozen) {
  color: var(--color-light-gray);
}

.dice__die:not(.frozen):hover,
.dice__die:not(.frozen):focus {
  color: var(--color-gray);
}

.dice__die.frozen {
  color: var(--color-secondary);
}

.dice__die.frozen:hover,
.dice__die.frozen:focus {
  color: var(--color-primary);
}

.dice__die:hover,
.dice__die:focus {
  cursor: pointer;
  transform: scale(1.2);
}

/* Chat */

.chat {
  display: flex;
  height: 100%;
  flex-direction: column;
  border-bottom: none;
}

.chat__log {
  flex: 1;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  padding: 0.5em;
  border: 1px solid black;
  border-bottom: none;
}

.chat__message {
  list-style-type: none; 
}

.chat__write {
  display: flex;
}

.chat__input {
  display: block;
  flex: 1;
}

.chat__send {
  display: block;
  width: 3em;
}

/* Scoreboard */

.scoreboard {
  margin-top: 1em;
}

/* Lobby */

.lobby {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 1em;
}

.members {
  width: 50%;
}