.cell {
  width: 3em;
  height: 2em;
  display: block;
  margin: 0 auto;
}

.yamb th,
.yamb td {
  width: 100px;
}


.die {
  border: none;
  background: none;
  font-size: 3em;
}

.frozen {
  color: brown;
}