@use "../colors";

.color-circle__shell {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1em;
	height: 1em;

	border-radius: 100%;
	background-color: colors.$text;
}

.color-circle__shell--inline {
	display: inline-flex;
	vertical-align: text-top;
	margin-right: 0.5em;
}

.color-circle {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: calc(100% - 6px);
	height: calc(100% - 6px);
	border-radius: 100%;
}

.color-circle__indicator {
	display: inline-flex;
	width: calc(100% - 6px);
	height: calc(100% - 6px);
	border-radius: 100%;
	background-color: inherit;
}

.color-circle--selected .color-circle__indicator {
	background-color: colors.$text;
}
