.settings__column-selection {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.settings__label {
	display: block;
	width: 40%;
	user-select: none;
	white-space: nowrap;
}

.settings__checkbox {
	margin-right: 0.25em;
}

.settings__start {
	margin: 0 auto;
}
